body
{
    background-image: url(imagenes/empleo.jpg);
}

.tituloHojaVida
{
    position: relative;
    font-family: monospace;
    border-style: inset;
    text-align: center;
    text-shadow: 2px 2px 5px rgb(94, 115, 231);
}

.imgPerfil
{
    width: 70%;
}

.contactoPerfil
{
    font-family: monospace;
    font-size: 25px;
    text-shadow: 2px 2px 5px rgb(94, 115, 231);
}

.tituloPerfil
{
    position: relative;
    left: 20px;
    text-align: center;
    text-shadow: 2px 2px 5px rgb(94, 115, 231);
}

.fotoPerfil
{
    position: relative;
    left: 15%;
    width: 10%; 
    left: 5%;
    border-radius: 10%;
}

.textoPerfil
{
    font-family: monospace;
    font-size: 18px;            /* tamaño de la letra */
    margin: 60px;
    border-style: inset;
    text-align: justify;
    padding: 15px; 
    text-shadow: 2px 2px 5px rgb(94, 115, 231); 
    background-color: cornsilk;
}

.linkPerfil
{
    font-family: monospace;
    font-size: 23px;
    text-shadow: 2px 2px 5px rgb(94, 115, 231);
}