body
{
    background-image: url(imagenes/imgFondoPag.jpg);
}

.tituloTarjetas
{
    position: relative;
    font-family: monospace;
    text-shadow: 2px 2px 5px rgb(94, 115, 231);
    color: blanchedalmond;
    font-size: 60px;
}

.imgPersonal
{
    width: 100%;
}

.titulosTarjetas
{
    font-family: monospace;
    color: blanchedalmond;
    text-shadow: 2px 2px 5px rgb(94, 115, 231);
}

.textoTarjeta
{
    font-family: monospace;
    text-shadow: 2px 2px 5px rgb(94, 115, 231);
}





